.btn {
  margin-left: auto;
  margin-right: auto;

  margin-top: 30px;
  display: flex;
  width: 300px;
  justify-content: space-between;
}
.btnVote {
  border: none;
  border-radius: 8px;

  padding: 10px 25px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #fff;
  color: chocolate;

  transition: transform 250ms linear;
}

.btnVote:hover {
  transform: scale(1.2);
  background-color: coral;
  color: darkslategray;
}
